// @import url('./theme/lara/lara-light/my/theme.scss');
$primaryColor: var(--sui-color-primary-default) !default;
$primaryLightColor: #c7d2fe !default;
$primaryDarkColor: #4f46e5 !default;
$primaryDarkerColor: #4338ca !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #eef2ff !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: #e0e7ff !default;

$borderRadius: var(--sui-radius-default) !default;
$checkboxRadius: var(--sui-radius-checkbox) !default;
$buttonBg: var(--sui-color-primary-default) !default;
$buttonRingColor: var(--sui-color-primary-ring) !default;

// @import '../_variables';
// @import './_fonts';
// @import '../../../../theme-base/_components';
// @import '../_extensions';
@import "./theme/lara/lara-light/variables";
@import "./theme/lara/lara-light/my/fonts";
@import "./theme-base/components";
@import "./theme/lara/lara-light/extensions";
